@page "/"
@using LintingResults.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<LintingDbContext> ContextFactory

<PageTitle>Home</PageTitle>

<h1>Scanned repos</h1>

<ul>
    @foreach(var repo in repos)
    {
        <li><a href="/ListScans/@repo.User/@repo.RepoName">@repo.User/@repo.RepoName</a></li>
    }
</ul>

@code {
    IEnumerable<Repo> repos;
    protected override async Task OnInitializedAsync()
    {

        await using var context = await ContextFactory.CreateDbContextAsync();
        repos = await context.Repos.ToListAsync();
        await base.OnInitializedAsync();
    }
}