services:
  web:
    image: wycliffeassociates/linting-results:${IMAGE_TAG}
    environment:
      - ServiceBusConnectionString=${ServiceBusConnectionString}
      - ConnectionStrings__DefaultConnection=DataSource=/data/app.db;Cache=Shared;Mode=ReadWriteCreate;
      - DefaultDisabledLintingRules=${DefaultDisabledLintingRules}
    volumes:
      - data:/data/
    ports:
      - 8092:8080
volumes:
  data:
